@import url("normalize.css");
.is-required
{
	font-weight: bold;
	font-size: 13px;
	font-style: italic;
}
.login-register-background
{
	background: url('../img/background/login-bg.png') 100% center fixed;
	/* background: #03ae43; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: rgba(3, 174, 67, 0.5);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #FFFFFF;
}
.login-footer {
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	background-size: 50%;
}
.login-footer a {
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	text-decoration: underline;
}

.login-footer a:hover {
	font-family: 'Poppins', sans-serif;
	color: #356800;
	text-decoration: underline;
}

.btn-custom {
	background-color: #356800 !important;
	border: 1px solid #356800 !important;
	color: #ffffff !important;
}

.dashboard-logo-text
{
	font-size: 13px;
}
.icon-color
{
	color: blue;
	font-size: 10px;
}
.dashboard-background-color
{
	background-color: skyblue;
	font-family: 'Poppins', sans-serif;
}
.dashboard-background-color h4
{
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
}
.dashboard-background-color p
{
	font-family: Poppins, 'sans-serif';
	color: #FFFFFF;
}

.mycustomlogo
{
	background: url('../img/logo/logowfg.jpg') 50% center fixed;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #FFFFFF;
}

.custom_height
{
	max-height: 450px;
	overflow: scroll;
	max-width: 100%;
}

#sidebar-menu > ul > li > a {
	color: #ffffff !important;
}

#sidebar-menu > ul > li > a:hover {
	color: #111111 !important;
}

.blinking{
	animation:blinkingText 0.8s infinite;
}

.card-box .col-sm-12 {
	max-width: 100%;
  overflow-x: auto;
}

.conversation-list {
    max-height: 340px;
    overflow-y: auto;
}
#matching_id, #order_id {
	max-height: 1200px !important;
	overflow-y: auto !important;
}

@keyframes blinkingText{
	0%{     color: #000;    }
	49%{    color: transparent; }
	50%{    color: transparent; }
	99%{    color:transparent;  }
	100%{   color: #000;    }
}

@media only screen and (max-width: 992px) {
  .button-list  .btn-custom, .button-list  .btn-danger, .button-list .btn-primary {
      width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .button-list .btn-custom, .button-list  .btn-danger, .button-list .btn-primary {
      width: 30% !important;
  }
}